<h1>Rooms#show</h1>
<p>Find me in app/views/rooms/show.html.erb</p>

<div id="messages">
	<%= render @messages %>
</div>

<form>
	<label>Say something:</label><br>
	<input type="text" data-behavior="chat_speaker">
</form>